<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-8">
        <div class="well well-sm">
            <b>{{baslik}}</b>
        </div>
    </div>

    <p>{{icerik}}</p>

    <div style="float: left">
        <div ng-repeat="kitap in sonuc">
            <div ng-repeat="(id, degerler) in kitap">
                <div>
                    <b>{{id + 1}} - {{degerler.isim}}</b>
                </div>

                <div>
                    <img ng-src="{{degerler.kapakResmiURL}}">
                </div>
            </div>
        </div>
    </div>
</div>